---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

import propImg from "../../assets/pics/proposal-pic.png";
---

<Section>
  <Card>
    <div
      class="flex bg-[#F3F3F3] rounded-[45px] p-[60px] relative mt-[123px] mb-[163px]"
    >
      <div class="w-full md:w-[40%] flex flex-col gap-[26px]">
        <h2 class="text-3xl font-medium">Hagamos que el cambio se haga realidad</h2>
        <p>
          Contacta con nosotros para recibir una propuesta personalizada que se adapte a tus necesidades y objetivos. Nuestro equipo de expertos está listo para ayudarte a alcanzar tus metas de fitness y bienestar.
        </p>
        <button class="btn-primary">Obten tu propuesta GRATIS</button>
      </div>
      <picture
        class="hidden md:flex absolute right-[-10%] lg:right-0 top-[-15%] h-[450px] items-center justify-center"
      >
        <Image
          src={propImg}
          alt="This is an illustration"
          class="hidden md:flex lg:h-full lg:w-auto"
        />
      </picture>
    </div>
  </Card>
</Section>
