---
import SectionTitle from "../ui/SectionTitle.astro";
import SwiperSlider from "../ui/SwiperSlider.astro";
import Section from "./Section.astro";
---

<Section id="testimonials">
  <div class="mt-20">
    <SectionTitle
      sectionTitle="Testimonios"
      description="Nuestros clientes comparten sus experiencias y resultados con nosotros. Descubre cómo hemos ayudado a transformar vidas y alcanzar objetivos de salud."
    />
    <div class="rounded-[45px] bg-dark mb-[150px] text-gray">
      <SwiperSlider />
    </div>
  </div>
</Section>
